<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <h1>Create a new profile</h1>
    Are you registering as a person or a company?<br>
    <label><input type="radio" formControlName="registrationType" value="person">Person</label><br>
    <label><input type="radio" formControlName="registrationType" value="company">Company</label>
  </div>
  <app-person [group]="registrationForm" *ngIf="registrationForm.value.registrationType === 'person'"></app-person>
  <app-company [group]="registrationForm" *ngIf="registrationForm.value.registrationType === 'company'"></app-company>
  <button type="submit">Submit</button>
</form>
<pre>
{{ registrationForm.value | json}}
</pre>